.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header-title {
    font-size: 64px;
    margin-bottom: 1vh;
  }

  .header-subtitle {
    font-size: 22px;
    margin: 0 0 15vh 0;
  }
}
