<div class="outer-container" fxFlex="100%" fxLayout="column">

  <div class="navigation-container" fxLayout="column">
    <p class="navigation-item" routerLink="/" (click)="menuClicked()">Home</p>
    <p class="navigation-item" routerLink="/projects" (click)="menuClicked()">Projects</p>
    <p class="navigation-item" routerLink="/short-url" (click)="menuClicked()">URL Shortener</p>
    <p class="navigation-item" routerLink="/about" (click)="menuClicked()">About</p>
    <p class="navigation-item" routerLink="/live-chat" (click)="menuClicked()">Live Chat</p>
    <p class="navigation-item" routerLink="/playground" (click)="menuClicked()">Playground</p>
  </div>
</div>
