@import 'src/customtheme';

.outer-container {
  display: flex;
  flex-direction: row;
}

.advert-left-panel, .advert-right-panel  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  min-width: 15vw;
  height: 100%;
}

.mat-drawer {
  backdrop-filter: blur(8px);
  background-color: mat-color($krapp-primary, 500, 0.6) !important;
}

.copyright:last-child {
  color: mat-color($krapp-text, 50);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
