<div class="outer-container">
  <div class="footer-container" fxLayout="row" fxLayoutGap="5vw">

    <div class="footer-column" fxLayout="column">
      <a href="https://www.github.com/kennethrpedersen">
        <mat-icon svgIcon="github"></mat-icon>
        Github
      </a>
      <a href="https://steamcommunity.com/id/gustavoamericano">
        <mat-icon svgIcon="steam"></mat-icon>
        Steam
      </a>
    </div>

    <div class="footer-column" fxLayout="column">
      <p>
        <mat-icon svgIcon="discord"></mat-icon>
        GustavoA#2037
      </p>
    </div>

    <div class="footer-column" fxFlexOffset="auto">
      <p>Copyright © 2020 KRAPP.XYZ</p>
    </div>

  </div>
</div>
