<div class="home-container">
  <div class="header-container">
    <h1 class="header-title">KRAPP.XYZ</h1>
    <h3 class="header-subtitle">A Krapp website used to develop!</h3>
  </div>

  <div class="content-container">
    <h2 class="content-title">My latest work</h2>
    <div class="card-container" fxLayout="row" fxLayoutGap="2.5vw">
      <mat-card class="card" fxFlex="33%">
        <mat-card-title class="card-title">
          Discord Base Bot
        </mat-card-title>
        <mat-card-subtitle class="card-subtitle">
          C# Discord Bot
        </mat-card-subtitle>
        <mat-card-content>
          <p>A very basic Discord bot meant to be used as a base for creating new ones.</p>

          <div class="feature-container">
            Features:
            <ul class="feature-list">
              <li class="feature">A basic quote bot ready to use</li>
              <li class="feature">Premade dal using Entity Framework</li>
              <li class="feature">Easy-to-replace SQLite db</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card" fxFlex="33%">
        <mat-card-title class="card-title">
          Card 2
        </mat-card-title>
        <mat-card-content>

        </mat-card-content>
      </mat-card>

      <mat-card class="card" fxFlex="33%">
        <mat-card-title class="card-title">
          Card 3
        </mat-card-title>
        <mat-card-content>

        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
