@import '~@angular/material/theming';

@include mat-core();
@import 'colors.scss';

$krapp-primary: mat-palette($krapp-blue, 500);
$krapp-red: mat-palette($krapp-red, 500);
$krapp-green: mat-palette($krapp-green, 500);
$krapp-amber: mat-palette($krapp-amber, 500);
$krapp-blue: mat-palette($krapp-blue, 500);
$krapp-text: mat-palette($krapp-text, 500);
$krapp-text-primary: mat-palette($krapp-text, 200);


$krapp-accent: mat-palette($krapp-green, 500);
// The warn palette is optional (defaults to red).
$krapp-warn: mat-palette($krapp-amber, 500);
// Create the theme object (a Sass map containing all of the palettes).
$krapp-theme: mat-light-theme($krapp-primary, $krapp-accent, $krapp-warn);

@include angular-material-theme($krapp-theme);

.mat-button {
  color: mat-color($krapp-text, 50);
  background-color: mat-color($krapp-primary, 300);
}

.mat-button:hover {
  transition: .15s;
  background-color: mat-color($krapp-primary, 500);
}

/*.mat-button {
  color: mat-color($krapp-primary, 500);
  border: mat-color($krapp-primary, 300) 1px solid;
}

.mat-button:hover {
  color: mat-color($krapp-primary, 50);
  transition: .15s;
  background-color: mat-color($krapp-primary, 500);
}*/

.icon-button {
  padding-left: 5px;
}

.mat-snack-bar-container{
  width: auto;
  border: 1px solid mat-color($krapp-text, 400);

  background-color: white;
  color: mat-color($krapp-text, 700);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header-title {
    font-size: 64px;
    margin-bottom: 1vh;

  }

  .header-subtitle {
    font-size: 22px;
    margin: 0 0 15vh 0;
  }
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 3vw;

  .card {
    border: 1px solid mat-color($krapp-text, 300);
    -webkit-box-shadow: 0px 7px 13px 0px mat-color($krapp-text, 300);
    -moz-box-shadow: 0px 7px 13px mat-color($krapp-text, 300);
    box-shadow: 0px 7px 13px 0px mat-color($krapp-text, 400);

    .card-title {
      display: flex;
      justify-content: center;
    }

    .card-subtitle {
      display: flex;
      justify-content: center;
    }

    .card-subtitle-u {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid mat-color($krapp-primary, 200);
    }

    .card-actions {
      display: flex;
      flex-wrap: wrap;
      margin: .25vw;
    }

  }

  .card:hover {
    transition: .3s;
    -webkit-box-shadow: 0px 7px 13px 0px mat-color($krapp-text, 500);
    -moz-box-shadow: 0px 7px 13px mat-color($krapp-text, 500);
    box-shadow: 0px 7px 13px 0px mat-color($krapp-text, 500);
  }

}


