<div fxShow.lt-sm fxHide class="navbar-container" fxLayout="row">
  <div class="title-container">
    <p class="title" routerLink="/">KRAPP.XYZ</p>
  </div>
</div>

<div fxHide.lt-sm class="navbar-container" fxLayout="row">
  <div class="title-container">
      <p class="title" routerLink="/">KRAPP.XYZ</p>
  </div>
  <div class="navigation-container" fxLayout="row" fxLayoutGap=".5vw">
    <p class="navigation-item" routerLink="/">Home</p>
    <p class="navigation-item" routerLink="/projects">Projects</p>
    <p class="navigation-item" routerLink="/short-url">URL Shortener</p>
    <p class="navigation-item" routerLink="/about">About</p>
    <p class="navigation-item" routerLink="/playground">Playground</p>
  </div>
</div>
