
<!-- MOBILE -->
<div fxShow.lt-md fxHide class="navbar-container" fxLayout="row" >
  <div class="title-container">
    <p class="title" routerLink="/">KRAPP.XYZ</p>
  </div>

  <div class="navigation-container" fxLayout="row" fxFlexOffset="auto">
    <p (click)="menuClicked()"><mat-icon svgIcon="{{sidenavStatus ? 'close-thick' : 'hamburger'}}" class="navigation-icon">MENU</mat-icon></p>
  </div>
</div>

<!-- DESKTOP -->
<div fxHide.lt-md class="navbar-container" fxLayout="row">
  <div class="title-container">
      <p class="title" routerLink="/">KRAPP.XYZ</p>
  </div>
  <div class="navigation-container" fxLayout="row" fxLayoutGap=".5vw">
    <p class="navigation-item" routerLink="/">Home</p>
    <p class="navigation-item" routerLink="/projects">Projects</p>
    <p class="navigation-item" routerLink="/short-url">URL Shortener</p>
    <p class="navigation-item" routerLink="/about">About</p>
    <p class="navigation-item" routerLink="/playground">Playground</p>
  </div>
</div>
